.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  font: 400 1rem/1.5 "Poppins", Arial, sans-serif;
}

.form .col-2 {
  grid-column: span 2;
}

.form input,
.form textarea {
  display: block;
  margin-bottom: 4px;
  font: 400 1rem/1.5 "Roboto", Arial, sans-serif;
  background: var(--cor-1);
  width: 100%;
  box-sizing: border-box;
  border: 2px solid var(--cor-3);
  padding: 12px;
  border-radius: 4px;
}

.form input:focus,
.form textarea:focus {
  outline: none;
  border-color: var(--cor-p1);
  background: var(--cor-0);
  box-shadow: 0 0 0 2px #fea;
}

@media (max-width: 600px) {
  .form {
    grid-template-columns: 1fr;
  }
  .form .col-2 {
    grid-column: 1;
  }
}
